extends ../layout

block content
  a(href="/bicicletas") Volver

  br
  br
  br

  h1 Nueva Bicicleta

  br
  br

  form(action="/bicicletas/create" method="post")
    label(for="id") ID:
    input(type="text" name="id" placeholder="Ingrese el ID")
    br
    label(for="color") Color:
    input(type="text" name="color" placeholder="Ingrese el Color")
    br
    label(for="modelo") Modelo:
    input(type="text" name="modelo" placeholder="Ingrese el Modelo")
    br
    label(for="latitud") Latitud:
    input(type="text" name="latitud" placeholder="Ingrese la Latitud")
    br
    label(for="longitud") Longitud:
    input(type="text" name="longitud" placeholder="Ingrese la Longitud")
    br
    br
    input.btn(type="submit" value="Ok")