extends ../layout

block content
  a(href="/bicicletas") Volver

  br
  br
  br

  h1 Actualizando Bicicleta

  br
  br

  form(action=`/bicicletas/${bici.id}/update` method="post")
    label(for="id") ID:
    input(type="text" name="id" placeholder="Ingrese el ID" value=bici.id)
    br
    label(for="color") Color:
    input(type="text" name="color" placeholder="Ingrese el Color" value=bici.color)
    br
    label(for="modelo") Modelo:
    input(type="text" name="modelo" placeholder="Ingrese el Modelo" value=bici.modelo)
    br
    label(for="latitud") Latitud:
    input(type="text" name="latitud" placeholder="Ingrese la Latitud" value=bici.ubicacion[0])
    br
    label(for="longitud") Longitud:
    input(type="text" name="longitud" placeholder="Ingrese la Longitud" value= bici.ubicacion[1])
    br
    br
    input.btn(type="submit" value="Actualizar")